[submodule "data/eLearning-Kurs-Text-Mining"]
	path = data/eLearning-Kurs-Text-Mining
	url = https://github.com/wiMieScience/eLearning-Kurs-Text-Mining.git
[submodule "ext_lib"]
	path = ext_lib
	url = https://github.com/shithead/textmining_ext_lib.git
