{
    log => {
            path  => 'log/development.log',
            level => 'debug'
    },
    path => {
        data => app->home->rel_file('data'),
        public => app->home->rel_file('public/course')
    },
    mode  => 'development'
}
