{
    log => {
            path  => 'log/development.log',
            level => 'debug'
    },
    path => {
        data => app->home->rel_dir('data'),
        public => app->home->rel_dir('public/course')
    },
    home  => '/usr/home/PwnyTail/devel/git/textmining',
    mode  => 'development'
}
